dist: xenial
language: python
python:
- '3.6'
install:
- pip3 install -r requirements-test.txt
script:
- pytest
deploy:
  provider: pypi
  user: theaustinator
  on:
    tags: true
  password:
    secure:
