anndata~=0.7.5
dataforest~=0.0.2
IPython
joblib~=1.0.0
matplotlib~=3.3.3
numba~=0.52.0
numpy~=1.19.4
pandas~=1.2.0
path~=15.0.1
pyyaml
scanpy~=1.6.0
scipy~=1.5.4
seaborn~=0.11.1
typeguard
umap-learn

pathlib~=1.0.1
pytest~=6.1.2
Pillow~=8.0.1
setuptools~=50.3.2
decorator~=4.4.2
frozendict~=1.2
scikit-learn~=0.24.0
rpy2~=3.4.2
dash~=1.18.1