anndata
anndata2ri
dataforest
IPython
joblib
matplotlib
numba
# for numba
numpy==1.20
pandas
path
pyyaml
scanpy
scipy
seaborn
typeguard
umap-learn

pathlib
pytest
Pillow
setuptools
decorator
frozendict
scikit-learn
rpy2
dash