anndata
anndata2ri
dataforest
IPython
joblib
matplotlib
numba
# for numba
numpy==1.21.0
pandas
path
pyyaml
scanpy
scipy
seaborn
typeguard
umap-learn
lazy_import
pathlib
pytest
Pillow
setuptools
decorator
frozendict
scikit-learn
rpy2
dash